{% extends 'base.html' %}

{% block content %}
<div class="text-center mt-5 mb-5">
    <h1>Entrar al sistema</h1>
</div>
<div class="row">
    <div class="col"></div>
    <div class="col mt-3">
        <form action="" method="post">
            <label for="" class="form-label">Ingresa tu usuario:</label>
            <input type="text" required name="form_user" id="" class="form-control">
            <label for="" class="form-label">Ingresa tu contraseña:</label>
            <input type="text" required name="form_passwd" id="" class="form-control">
            <button type="submit" class="btn btn-primary form-control mt-3">Entrar al sistema</button>
        </form>
    </div>
    <div class="col"></div>
</div>


{% endblock %}